@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');





body{
    background-color: RGBA(0,255,255,0.1);
    font-family     : verdana, sans-serif;
    margin          : 0px;
    text-align      : center;
}
.title{
    font-size  : 100%;      /*---- 16px or 1em or 1rem (root of the em) */
    padding-top: 100px;
    position   : relative;

}
h1{
    color      : #66BFBF;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin     : auto;
    margin-top : 50px;
    width      : 20%;
    
}
h2{
    color      : #66BFBF;;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: normal;
}
h3{
    color: #66BFBF;
}
div{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top : 0px;
}
.web{
    color          : #66BFBF;
    margin         : auto;
    text-decoration: underline;
    width          : 10%;
 }
.bottom-cloud{
        position: absolute;
        right   : 200px;
        top     : 60px;
}
.top-cloud{
    bottom  : 300px;
    left    : 200px;
    position: absolute;
}
.skill-row{
    line-height: 1;
    margin     : 100px auto 100px auto;
    text-align : left;
    width      : 50% ;
}

.computer-img{
    float       : left;
    margin-right: 30px;
    width       : 20%;
}

.chilli-img{
    float      : right;
    margin-left: 30px;
    width      : 20%;
}
.cara-feia{
    margin: auto;
    width : 75%;
}
.js-skills{
    text-align: right;
}
.btn {
    -moz-border-radius   : 8;
    -webkit-border-radius: 8;
    background           : #11cdd4;
    background-image     : -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image     : -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image     : -o-linear-gradient(top, #11cdd4, #11999e);
    background-image     : -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image     : linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius        : 8px;
    color                : #ffffff;
    font-family          : Arial;
    font-size            : 20px;
    padding              : 10px 20px 10px 20px;
    text-decoration      : none;
  }
  
  .btn:hover {
    background      : #30e3cb;
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration : none;
  }
  hr{
    background-color: RGBa(0,0,0,0);
    border-color    : rgba(150, 150, 150, 0.39);
    border-style    : dotted;
    border-top      : none;
    border-width    : 5px;
    width           : 4%;
  }
  .body{
    background-color: white;
  }
  .copyright{
    color:black;
  }
